.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}
.btn:hover{
    cursor: pointer;
    color: rgb(236, 180, 76);
    background: transparent;
    border: 2px solid orange;
}