.follower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.follower>div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}
.followerimage{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.name>span:nth-of-type(1){
    font-weight: bold;
}
.follower>button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
      
}

.follower>button:hover{
    cursor: pointer;
    color: rgb(236, 180, 76);
    background: transparent;
    border: 2px solid orange;

}